@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');
body{
    margin: 0; 
}
main{
    font-family: 'Sora', sans-serif;
    display: flex;
    justify-content: center;
}
#Tophead{
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px 0 25px;
    font-family: 'Poppins', sans-serif;
}
#logo{
  cursor: pointer;
    width: 120px;
}
#menu-list a{
    text-decoration: none;
    color: #B9B8B6;
    margin: 0 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: -1px;
}
#menu-list a:hover{
    transition: all 300ms;
    border-bottom: 4px solid #8071D0;
    color: black;
}
#login-button button{
    background-color: #FFD8DB;
    color: #6757C4;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 16px;
    padding: 20px 35px;
    border-radius: 23px;
    border: none;
    cursor: pointer;
    transition: all 500ms;
    outline: none;
}
#login-button button:hover{
  background-color: #5243C0;
    color: #ffffff;
}
h1{
    font-size: 40px;
    letter-spacing: -2px;
    font-weight: 800;
    margin: 0;
}
.blue-dot{
    font-size: 7px;
    color: #5243C0;
    margin-left: 3px;
}
#newacc-btn{
    background-color: #5243C0;
    color: #ffffff;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 16px;
    padding: 20px 35px;
    border-radius: 23px;
    border: none;
    outline: none;
    box-shadow: 0 5px 5px lightgray;
    cursor: pointer;
    transition: all 500ms;
}
#newacc-btn:hover{
    background-color: #FFD8DB;
    color: #5243C0;
    }
#new-acc-container img{
    margin: 0 8px;
}
#new-acc-container{
    display: flex;
    align-items: center;
}
#stunning-desc{
    color: #878382;
    margin-bottom: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1.8;
}
#left-section{
    padding-left: 5%;
}
.arrow{
    border-radius: 20px;
    box-shadow: 0 2px 2px lightgray;
    cursor: pointer;
}
.arrow:hover{
    transform: scale(1.05);
}
#right-section{
    padding-top: 20px;
    padding-left: 9%;
    width: 40%;
}
#right-section img{
    width: 100%;
    transform: skewY(2deg);
    transition: all 500ms;
}
#right-section img:hover{
    transform: skewY(-2deg);
}
.tick{
    width: 30px;
    margin-left: 10px;
}
.details{
    width: 200px;
    margin-left: 10px;
    font-weight: 600;
    color: #0D0C0B;
    letter-spacing: -1px;
}
.user{
    width: 30px;
}
.date{
    color: #B5B4B2;
    padding: 0 20px;
    letter-spacing: -1px;
}
.color-bar{
    width: 20px;
    height: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
.article{
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    background-color: rgb(245, 243, 243);
    box-shadow: 0 1px 2px rgb(184, 182, 182);
    margin-bottom: 15px;
    cursor: pointer;
}
.article:hover {
    background-color: white;
    box-shadow: 0 5px 30px rgb(184, 182, 182);
}
#left-bottom-section{
    margin-top: 40px;
}
#colorbar-1{
    background-color: #FED7DA;
}
#colorbar-2{
    background-color: #FD6534;
}
#colorbar-3{
    background-color: #9ED095;
}
#colorbar-4{
    background-color: #FFE4A0;
}
#pinkbox-wrapper{
    position: relative;
}
#pinkbox{
    position: absolute;
    top: 0;
    display: none;
}
#article1:hover #pinkbox{
    display: block;
}
#orangebox-wrapper{
    position: relative;
}
#orangebox{
    position: absolute;
    top: 0;
    display: none;
}
#article2:hover #orangebox{
    display: block;
}
#bluebox-wrapper{
    position: relative;
}
#bluebox{
    position: absolute;
    top: 0;
    display: none;
}
#article3:hover #bluebox{
    display: block;
}
#redbox-wrapper{
    position: relative;
}
#redbox{
    position: absolute;
    top: 0;
    display: none;
}
#article4:hover #redbox{
    display: block;
}